In [14]:
import requests
import lxml.html as lh
import pandas as pd

### 2000

In [79]:
url='https://www.sports-reference.com/cfb/years/2000-passing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [80]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Cmp"
7:"Att"
8:"Pct"
9:"Yds"
10:"Y/A"
11:"AY/A"
12:"TD"
13:"Int"
14:"Rate"
15:"Att"
16:"Yds"
17:"Avg"
18:"TD"

In [81]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=18:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [82]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
0,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,1,Chris Weinke,Florida State,ACC,12,266,30,61.7,-97,9.7,10.1,1,11,163.1,-3.2
2,2,Bart Hendricks,Boise State,Big West,11,210,85,60.5,269,9.7,10.7,6,8,170.6,3.2
3,3,John Turman,Pitt,Big East,11,128,65,54.9,-18,9.2,9.4,1,7,151.4,-0.3
4,4,Casey Printers,Texas Christian,WAC,11,102,84,58.0,265,9.0,9.3,4,6,156.7,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,90,Walter Church,Eastern Michigan,MAC,11,238,27,59.6,-90,5.8,5.5,0,8,113.7,-3.3
95,91,Tavares Bolden,Toledo,MAC,11,161,73,56.9,390,5.6,5.9,5,4,116.6,5.3
96,92,Jay Stoner,Wyoming,MWC,9,171,53,62.2,-175,5.6,4.4,0,12,112.9,-3.3
97,93,D. Bryant,Duke,ACC,11,129,79,50.0,-96,5.6,4.3,1,10,95.8,-1.2
98,94,Zach Williams,Kent State,MAC,9,114,32,53.5,-27,5.3,3.9,1,8,96.4,-0.8

In [83]:
df_new=df.drop(columns = 'Rk')

In [84]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Chris Weinke,Florida State,ACC,12,266,30,61.7,-97,9.7,10.1,1,11,163.1,-3.2
2,Bart Hendricks,Boise State,Big West,11,210,85,60.5,269,9.7,10.7,6,8,170.6,3.2
3,John Turman,Pitt,Big East,11,128,65,54.9,-18,9.2,9.4,1,7,151.4,-0.3
4,Casey Printers,Texas Christian,WAC,11,102,84,58.0,265,9.0,9.3,4,6,156.7,3.2
5,Rex Grossman,Florida,SEC,11,131,27,61.8,-76,8.8,9.3,0,7,161.8,-2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Walter Church,Eastern Michigan,MAC,11,238,27,59.6,-90,5.8,5.5,0,8,113.7,-3.3
95,Tavares Bolden,Toledo,MAC,11,161,73,56.9,390,5.6,5.9,5,4,116.6,5.3
96,Jay Stoner,Wyoming,MWC,9,171,53,62.2,-175,5.6,4.4,0,12,112.9,-3.3
97,D. Bryant,Duke,ACC,11,129,79,50.0,-96,5.6,4.3,1,10,95.8,-1.2
98,Zach Williams,Kent State,MAC,9,114,32,53.5,-27,5.3,3.9,1,8,96.4,-0.8

In [85]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']
df_new

<ipython-input-85-fdcbcde431ed>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Chris Weinke,Florida State,ACC,12,266,30,61.7,-97,9.7,10.1,1,11,163.1,-3.2
2,Bart Hendricks,Boise State,Big West,11,210,85,60.5,269,9.7,10.7,6,8,170.6,3.2
3,John Turman,Pitt,Big East,11,128,65,54.9,-18,9.2,9.4,1,7,151.4,-0.3
4,Casey Printers,Texas Christian,WAC,11,102,84,58.0,265,9.0,9.3,4,6,156.7,3.2
5,Rex Grossman,Florida,SEC,11,131,27,61.8,-76,8.8,9.3,0,7,161.8,-2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Walter Church,Eastern Michigan,MAC,11,238,27,59.6,-90,5.8,5.5,0,8,113.7,-3.3
95,Tavares Bolden,Toledo,MAC,11,161,73,56.9,390,5.6,5.9,5,4,116.6,5.3
96,Jay Stoner,Wyoming,MWC,9,171,53,62.2,-175,5.6,4.4,0,12,112.9,-3.3
97,D. Bryant,Duke,ACC,11,129,79,50.0,-96,5.6,4.3,1,10,95.8,-1.2
98,Zach Williams,Kent State,MAC,9,114,32,53.5,-27,5.3,3.9,1,8,96.4,-0.8

In [86]:
df_new.to_csv('./passing/2000.csv')

### 2001

In [71]:
url='https://www.sports-reference.com/cfb/years/2001-passing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [72]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Cmp"
7:"Att"
8:"Pct"
9:"Yds"
10:"Y/A"
11:"AY/A"
12:"TD"
13:"Int"
14:"Rate"
15:"Att"
16:"Yds"
17:"Avg"
18:"TD"

In [73]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=18:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [74]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
0,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,1,Rex Grossman,Florida,SEC,11,259,34,65.6,8,9.9,10.2,5,12,170.8,0.2
2,2,Jeff Smoker*,Michigan State,Big Ten,11,166,81,63.4,-58,9.8,10.1,2,8,166.4,-0.7
3,3,Chris Rix,Florida State,ACC,11,165,99,57.7,389,9.6,9.2,3,13,156.6,3.9
4,4,Ryan Dinwiddie,Boise State,WAC,11,201,71,62.4,97,9.5,9.7,3,11,164.7,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,100,Lon Sheriff,San Diego State,MWC,11,111,33,47.0,-160,5.5,3.5,0,12,87.2,-4.8
105,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
106,101,Ryan Cubit,Rutgers,Big East,11,120,86,44.8,-99,5.3,2.8,0,19,86.6,-1.2
107,102,Dan Orlovsky,Connecticut,Ind,10,128,31,47.6,-117,5.1,4.0,2,11,93.5,-3.8
108,103,Greg Cicero,Baylor,Big 12,10,129,65,50.6,107,4.9,3.0,1,13,89.0,1.6

In [75]:
df_new=df.drop(columns = 'Rk')

In [76]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Rex Grossman,Florida,SEC,11,259,34,65.6,8,9.9,10.2,5,12,170.8,0.2
2,Jeff Smoker*,Michigan State,Big Ten,11,166,81,63.4,-58,9.8,10.1,2,8,166.4,-0.7
3,Chris Rix,Florida State,ACC,11,165,99,57.7,389,9.6,9.2,3,13,156.6,3.9
4,Ryan Dinwiddie,Boise State,WAC,11,201,71,62.4,97,9.5,9.7,3,11,164.7,1.4
5,David Carr*,Fresno State,WAC,14,344,94,64.5,67,9.1,10.0,5,9,165.9,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Lon Sheriff,San Diego State,MWC,11,111,33,47.0,-160,5.5,3.5,0,12,87.2,-4.8
105,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
106,Ryan Cubit,Rutgers,Big East,11,120,86,44.8,-99,5.3,2.8,0,19,86.6,-1.2
107,Dan Orlovsky,Connecticut,Ind,10,128,31,47.6,-117,5.1,4.0,2,11,93.5,-3.8
108,Greg Cicero,Baylor,Big 12,10,129,65,50.6,107,4.9,3.0,1,13,89.0,1.6

In [77]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']
df_new

<ipython-input-77-fdcbcde431ed>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Rex Grossman,Florida,SEC,11,259,34,65.6,8,9.9,10.2,5,12,170.8,0.2
2,Jeff Smoker,Michigan State,Big Ten,11,166,81,63.4,-58,9.8,10.1,2,8,166.4,-0.7
3,Chris Rix,Florida State,ACC,11,165,99,57.7,389,9.6,9.2,3,13,156.6,3.9
4,Ryan Dinwiddie,Boise State,WAC,11,201,71,62.4,97,9.5,9.7,3,11,164.7,1.4
5,David Carr,Fresno State,WAC,14,344,94,64.5,67,9.1,10.0,5,9,165.9,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,Kirk Farmer,Missouri,Big 12,10,135,59,47.4,379,5.5,5.5,3,6,104.4,6.4
104,Lon Sheriff,San Diego State,MWC,11,111,33,47.0,-160,5.5,3.5,0,12,87.2,-4.8
106,Ryan Cubit,Rutgers,Big East,11,120,86,44.8,-99,5.3,2.8,0,19,86.6,-1.2
107,Dan Orlovsky,Connecticut,Ind,10,128,31,47.6,-117,5.1,4.0,2,11,93.5,-3.8
108,Greg Cicero,Baylor,Big 12,10,129,65,50.6,107,4.9,3.0,1,13,89.0,1.6

In [78]:
df_new.to_csv('./passing/2001.csv')

### 2002

In [31]:
url='https://www.sports-reference.com/cfb/years/2002-passing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [32]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Cmp"
7:"Att"
8:"Pct"
9:"Yds"
10:"Y/A"
11:"AY/A"
12:"TD"
13:"Int"
14:"Rate"
15:"Att"
16:"Yds"
17:"Avg"
18:"TD"

In [33]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=18:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [34]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
0,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,1,Ryan Schneider,UCF,MAC,12,265,37,61.6,-89,8.8,8.5,2,16,151.6,-2.4
2,2,Brad Banks*,Iowa,Big Ten,13,170,81,57.8,423,8.8,9.8,5,5,157.1,5.2
3,3,Scott McBrien*,Maryland,ACC,14,162,88,57.0,284,8.8,8.3,7,10,141.3,3.2
4,4,Byron Leftwich*,Marshall,MAC,12,331,37,67.4,-1,8.7,9.0,3,10,156.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,94,Bill Whittemore,Kansas,Big 12,9,151,137,49.5,549,5.5,5.3,11,6,103.4,4.0
99,95,Joshua Cribbs,Kent State,MAC,10,91,137,48.9,1057,5.5,2.5,10,14,86.8,7.7
100,96,Hansell Bearden,Troy,Ind,12,125,98,43.4,211,5.1,3.0,2,16,81.8,2.2
101,97,Randall Secky,Buffalo,MAC,12,204,59,48.5,-153,4.8,4.0,0,13,91.9,-2.6
102,98,Tate Wallis,SMU,WAC,12,83,72,45.6,232,4.6,2.4,0,10,78.5,3.2

In [35]:
df_new=df.drop(columns = 'Rk')

In [36]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Ryan Schneider,UCF,MAC,12,265,37,61.6,-89,8.8,8.5,2,16,151.6,-2.4
2,Brad Banks*,Iowa,Big Ten,13,170,81,57.8,423,8.8,9.8,5,5,157.1,5.2
3,Scott McBrien*,Maryland,ACC,14,162,88,57.0,284,8.8,8.3,7,10,141.3,3.2
4,Byron Leftwich*,Marshall,MAC,12,331,37,67.4,-1,8.7,9.0,3,10,156.5,0.0
5,Ken Dorsey*,Miami (FL),Big East,13,222,23,56.5,-39,8.6,8.6,0,12,145.9,-1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Bill Whittemore,Kansas,Big 12,9,151,137,49.5,549,5.5,5.3,11,6,103.4,4.0
99,Joshua Cribbs,Kent State,MAC,10,91,137,48.9,1057,5.5,2.5,10,14,86.8,7.7
100,Hansell Bearden,Troy,Ind,12,125,98,43.4,211,5.1,3.0,2,16,81.8,2.2
101,Randall Secky,Buffalo,MAC,12,204,59,48.5,-153,4.8,4.0,0,13,91.9,-2.6
102,Tate Wallis,SMU,WAC,12,83,72,45.6,232,4.6,2.4,0,10,78.5,3.2

In [37]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new

<ipython-input-37-ae12cb5dd493>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Ryan Schneider,UCF,MAC,12,265,37,61.6,-89,8.8,8.5,2,16,151.6,-2.4
2,Brad Banks,Iowa,Big Ten,13,170,81,57.8,423,8.8,9.8,5,5,157.1,5.2
3,Scott McBrien,Maryland,ACC,14,162,88,57.0,284,8.8,8.3,7,10,141.3,3.2
4,Byron Leftwich,Marshall,MAC,12,331,37,67.4,-1,8.7,9.0,3,10,156.5,0.0
5,Ken Dorsey,Miami (FL),Big East,13,222,23,56.5,-39,8.6,8.6,0,12,145.9,-1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Bill Whittemore,Kansas,Big 12,9,151,137,49.5,549,5.5,5.3,11,6,103.4,4.0
99,Joshua Cribbs,Kent State,MAC,10,91,137,48.9,1057,5.5,2.5,10,14,86.8,7.7
100,Hansell Bearden,Troy,Ind,12,125,98,43.4,211,5.1,3.0,2,16,81.8,2.2
101,Randall Secky,Buffalo,MAC,12,204,59,48.5,-153,4.8,4.0,0,13,91.9,-2.6
102,Tate Wallis,SMU,WAC,12,83,72,45.6,232,4.6,2.4,0,10,78.5,3.2

In [38]:
df_new.to_csv('./passing/2002.csv')

### 2003

In [87]:
url='https://www.sports-reference.com/cfb/years/2003-passing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [88]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Cmp"
7:"Att"
8:"Pct"
9:"Yds"
10:"Y/A"
11:"AY/A"
12:"TD"
13:"Int"
14:"Rate"
15:"Att"
16:"Yds"
17:"Avg"
18:"TD"

In [89]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=18:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [90]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
0,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,1,Ryan Dinwiddie*,Boise State,WAC,14,276,81,61.9,43,9.8,10.5,12,7,163.7,0.5
2,2,Bradlee Van Pelt*,Colorado State,MWC,13,180,170,60.6,909,9.6,8.9,10,13,153.4,5.3
3,3,Asad Abdul-Khaliq*,Minnesota,Big Ten,13,158,88,63.2,370,9.6,10.1,4,5,162.3,4.2
4,4,Philip Rivers*,North Carolina State,ACC,13,348,78,72.0,109,9.3,10.1,3,7,170.5,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,99,Aaron Leak,Troy,Ind,12,110,126,42.5,208,5.5,4.0,3,12,88.4,1.7
104,100,Chinedu Okoro,Eastern Michigan,MAC,11,134,47,53.4,-164,5.4,3.9,2,11,98.0,-3.5
105,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
106,101,Matt Dlugolecki,San Diego State,MWC,9,133,17,57.8,-63,5.4,4.2,0,8,102.2,-3.7
107,102,Zac Dahman,Army,CUSA,13,230,61,52.8,-180,5.1,3.7,1,19,95.4,-3.0

In [91]:
df_new=df.drop(columns = 'Rk')

In [92]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Ryan Dinwiddie*,Boise State,WAC,14,276,81,61.9,43,9.8,10.5,12,7,163.7,0.5
2,Bradlee Van Pelt*,Colorado State,MWC,13,180,170,60.6,909,9.6,8.9,10,13,153.4,5.3
3,Asad Abdul-Khaliq*,Minnesota,Big Ten,13,158,88,63.2,370,9.6,10.1,4,5,162.3,4.2
4,Philip Rivers*,North Carolina State,ACC,13,348,78,72.0,109,9.3,10.1,3,7,170.5,1.4
5,Ben Roethlisberger*,Miami (OH),MAC,14,342,67,69.1,111,9.1,9.6,3,10,165.8,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,Aaron Leak,Troy,Ind,12,110,126,42.5,208,5.5,4.0,3,12,88.4,1.7
104,Chinedu Okoro,Eastern Michigan,MAC,11,134,47,53.4,-164,5.4,3.9,2,11,98.0,-3.5
105,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
106,Matt Dlugolecki,San Diego State,MWC,9,133,17,57.8,-63,5.4,4.2,0,8,102.2,-3.7
107,Zac Dahman,Army,CUSA,13,230,61,52.8,-180,5.1,3.7,1,19,95.4,-3.0

In [93]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']
df_new

<ipython-input-93-fdcbcde431ed>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Ryan Dinwiddie,Boise State,WAC,14,276,81,61.9,43,9.8,10.5,12,7,163.7,0.5
2,Bradlee Van Pelt,Colorado State,MWC,13,180,170,60.6,909,9.6,8.9,10,13,153.4,5.3
3,Asad Abdul-Khaliq,Minnesota,Big Ten,13,158,88,63.2,370,9.6,10.1,4,5,162.3,4.2
4,Philip Rivers,North Carolina State,ACC,13,348,78,72.0,109,9.3,10.1,3,7,170.5,1.4
5,Ben Roethlisberger,Miami (OH),MAC,14,342,67,69.1,111,9.1,9.6,3,10,165.8,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,Ronnie Banks,South Florida,CUSA,9,127,41,48.7,-63,5.5,4.8,0,8,99.2,-1.5
103,Aaron Leak,Troy,Ind,12,110,126,42.5,208,5.5,4.0,3,12,88.4,1.7
104,Chinedu Okoro,Eastern Michigan,MAC,11,134,47,53.4,-164,5.4,3.9,2,11,98.0,-3.5
106,Matt Dlugolecki,San Diego State,MWC,9,133,17,57.8,-63,5.4,4.2,0,8,102.2,-3.7
107,Zac Dahman,Army,CUSA,13,230,61,52.8,-180,5.1,3.7,1,19,95.4,-3.0

In [94]:
df_new.to_csv('./passing/2003.csv')

### 2004

In [95]:
url='https://www.sports-reference.com/cfb/years/2004-passing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [96]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Cmp"
7:"Att"
8:"Pct"
9:"Yds"
10:"Y/A"
11:"AY/A"
12:"TD"
13:"Int"
14:"Rate"
15:"Att"
16:"Yds"
17:"Avg"
18:"TD"

In [97]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=18:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [98]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
0,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,1,Stefan Lefors*,Louisville,CUSA,12,189,71,73.5,333,10.1,11.1,3,3,181.7,4.7
2,2,Jason Campbell*,Auburn,SEC,13,188,58,69.6,30,10.0,10.3,3,7,172.9,0.5
3,3,Alex Smith*,Utah,MWC,12,214,135,67.5,631,9.3,10.8,10,4,176.5,4.7
4,4,Jared Zabransky*,Boise State,WAC,12,206,130,63.0,326,9.0,8.3,13,12,147.0,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,93,Omarr Conner,Mississippi State,SEC,9,107,67,51.9,115,5.9,5.0,1,7,104.7,1.7
98,94,Kevin O'Connell,San Diego State,MWC,9,115,73,48.7,347,5.6,4.7,1,9,101.0,4.8
99,95,Casey Paus,Washington,Pac-10,11,116,38,42.3,-63,5.4,3.0,0,17,81.2,-1.7
100,96,Shane Steichen,UNLV,MWC,9,92,20,49.2,2,5.4,3.7,2,10,96.3,0.1
101,97,Shane Boyd,Kentucky,SEC,10,138,102,52.5,297,5.0,4.0,5,9,96.8,2.9

In [99]:
df_new=df.drop(columns = 'Rk')

In [100]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Stefan Lefors*,Louisville,CUSA,12,189,71,73.5,333,10.1,11.1,3,3,181.7,4.7
2,Jason Campbell*,Auburn,SEC,13,188,58,69.6,30,10.0,10.3,3,7,172.9,0.5
3,Alex Smith*,Utah,MWC,12,214,135,67.5,631,9.3,10.8,10,4,176.5,4.7
4,Jared Zabransky*,Boise State,WAC,12,206,130,63.0,326,9.0,8.3,13,12,147.0,2.5
5,Bruce Gradkowski*,Toledo,MAC,13,280,91,70.2,191,8.8,9.3,9,8,162.6,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Omarr Conner,Mississippi State,SEC,9,107,67,51.9,115,5.9,5.0,1,7,104.7,1.7
98,Kevin O'Connell,San Diego State,MWC,9,115,73,48.7,347,5.6,4.7,1,9,101.0,4.8
99,Casey Paus,Washington,Pac-10,11,116,38,42.3,-63,5.4,3.0,0,17,81.2,-1.7
100,Shane Steichen,UNLV,MWC,9,92,20,49.2,2,5.4,3.7,2,10,96.3,0.1
101,Shane Boyd,Kentucky,SEC,10,138,102,52.5,297,5.0,4.0,5,9,96.8,2.9

In [101]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']
df_new

<ipython-input-101-fdcbcde431ed>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Stefan Lefors,Louisville,CUSA,12,189,71,73.5,333,10.1,11.1,3,3,181.7,4.7
2,Jason Campbell,Auburn,SEC,13,188,58,69.6,30,10.0,10.3,3,7,172.9,0.5
3,Alex Smith,Utah,MWC,12,214,135,67.5,631,9.3,10.8,10,4,176.5,4.7
4,Jared Zabransky,Boise State,WAC,12,206,130,63.0,326,9.0,8.3,13,12,147.0,2.5
5,Bruce Gradkowski,Toledo,MAC,13,280,91,70.2,191,8.8,9.3,9,8,162.6,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Omarr Conner,Mississippi State,SEC,9,107,67,51.9,115,5.9,5.0,1,7,104.7,1.7
98,Kevin O'Connell,San Diego State,MWC,9,115,73,48.7,347,5.6,4.7,1,9,101.0,4.8
99,Casey Paus,Washington,Pac-10,11,116,38,42.3,-63,5.4,3.0,0,17,81.2,-1.7
100,Shane Steichen,UNLV,MWC,9,92,20,49.2,2,5.4,3.7,2,10,96.3,0.1
101,Shane Boyd,Kentucky,SEC,10,138,102,52.5,297,5.0,4.0,5,9,96.8,2.9

In [102]:
df_new.to_csv('./passing/2004.csv')

### 2005

In [119]:
url='https://www.sports-reference.com/cfb/years/2005-passing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [120]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Cmp"
7:"Att"
8:"Pct"
9:"Yds"
10:"Y/A"
11:"AY/A"
12:"TD"
13:"Int"
14:"Rate"
15:"Att"
16:"Yds"
17:"Avg"
18:"TD"

In [128]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=18:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [126]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
0,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,1,Rudy Carpenter*,Arizona State,Pac-10,9,156,42,68.4,-9,10.0,11.1,1,2,175.0,-0.2
2,2,Brian Brohm*,Louisville,Big East,10,207,41,68.8,-36,9.6,10.1,4,5,166.7,-0.9
3,3,Troy Smith*,Ohio State,Big Ten,11,149,136,62.9,611,9.6,10.2,11,4,162.7,4.5
4,4,Vince Young*,Texas,Big 12,13,212,155,65.2,1050,9.3,9.6,12,10,163.9,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,100,Omarr Conner,Mississippi State,SEC,11,86,44,51.5,-15,5.4,5.0,0,5,106.7,-0.3
105,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
106,101,Austen Everson,Ohio,MAC,11,105,105,47.7,244,5.2,3.3,6,11,87.7,2.3
107,102,Bernard Morris,Marshall,CUSA,9,114,75,52.8,256,5.2,4.5,4,6,100.0,3.4
108,103,Daniel Meager,North Texas,Sun Belt,11,101,62,50.0,68,4.7,3.3,1,8,87.7,1.1

In [123]:
df_new=df.drop(columns = 'Rk')

In [124]:
df_new=df_new.drop(0)
df_new

KeyError: '[0] not found in axis'

In [109]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']
df_new

<ipython-input-109-fdcbcde431ed>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Rudy Carpenter,Arizona State,Pac-10,9,156,42,68.4,-9,10.0,11.1,1,2,175.0,-0.2
2,Brian Brohm,Louisville,Big East,10,207,41,68.8,-36,9.6,10.1,4,5,166.7,-0.9
3,Troy Smith,Ohio State,Big Ten,11,149,136,62.9,611,9.6,10.2,11,4,162.7,4.5
4,Vince Young,Texas,Big 12,13,212,155,65.2,1050,9.3,9.6,12,10,163.9,6.8
5,Matt Leinart,USC,Pac-10,13,283,51,65.7,36,8.9,9.3,6,8,157.7,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,Zack Asack,Duke,ACC,9,90,78,50.0,95,5.4,3.9,2,8,95.4,1.2
104,Omarr Conner,Mississippi State,SEC,11,86,44,51.5,-15,5.4,5.0,0,5,106.7,-0.3
106,Austen Everson,Ohio,MAC,11,105,105,47.7,244,5.2,3.3,6,11,87.7,2.3
107,Bernard Morris,Marshall,CUSA,9,114,75,52.8,256,5.2,4.5,4,6,100.0,3.4
108,Daniel Meager,North Texas,Sun Belt,11,101,62,50.0,68,4.7,3.3,1,8,87.7,1.1

In [110]:
df_new.to_csv('./passing/2005.csv')

### 2006

In [111]:
url='https://www.sports-reference.com/cfb/years/2006-passing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [112]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Cmp"
7:"Att"
8:"Pct"
9:"Yds"
10:"Y/A"
11:"AY/A"
12:"TD"
13:"Int"
14:"Rate"
15:"Att"
16:"Yds"
17:"Avg"
18:"TD"

In [113]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=18:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [114]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
0,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,1,Colt Brennan*,Hawaii,WAC,14,406,86,72.6,366,9.9,11.0,5,12,186.0,4.3
2,2,Brian Brohm*,Louisville,Big East,11,199,47,63.6,45,9.7,10.0,0,5,159.1,1.0
3,3,John Beck*,Brigham Young,MWC,12,289,50,69.3,-8,9.3,10.0,6,8,169.1,-0.2
4,4,JaMarcus Russell*,LSU,SEC,13,232,52,67.8,142,9.1,9.7,1,8,167.0,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,98,Jameel Sewell,Virginia,ACC,11,143,95,57.9,200,5.4,4.7,4,6,105.4,2.1
103,99,Josh Padrick,Florida International,Sun Belt,12,213,57,54.9,-146,5.2,3.8,0,14,95.5,-2.6
104,100,David Pevoto,Army,Ind,10,106,36,54.9,14,5.2,2.6,1,14,94.7,0.4
105,Rk,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
106,101,Aaron Opelt,Toledo,MAC,9,102,80,54.3,261,4.7,4.1,4,5,98.6,3.3

In [115]:
df_new=df.drop(columns = 'Rk')

In [116]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Colt Brennan*,Hawaii,WAC,14,406,86,72.6,366,9.9,11.0,5,12,186.0,4.3
2,Brian Brohm*,Louisville,Big East,11,199,47,63.6,45,9.7,10.0,0,5,159.1,1.0
3,John Beck*,Brigham Young,MWC,12,289,50,69.3,-8,9.3,10.0,6,8,169.1,-0.2
4,JaMarcus Russell*,LSU,SEC,13,232,52,67.8,142,9.1,9.7,1,8,167.0,2.7
5,Jared Zabransky*,Boise State,WAC,13,191,98,66.3,197,9.0,9.3,6,8,162.6,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,Jameel Sewell,Virginia,ACC,11,143,95,57.9,200,5.4,4.7,4,6,105.4,2.1
103,Josh Padrick,Florida International,Sun Belt,12,213,57,54.9,-146,5.2,3.8,0,14,95.5,-2.6
104,David Pevoto,Army,Ind,10,106,36,54.9,14,5.2,2.6,1,14,94.7,0.4
105,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
106,Aaron Opelt,Toledo,MAC,9,102,80,54.3,261,4.7,4.1,4,5,98.6,3.3

In [117]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-117-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
1,Colt Brennan,Hawaii,WAC,14,406,86,72.6,366,9.9,11.0,5,12,186.0,4.3
2,Brian Brohm,Louisville,Big East,11,199,47,63.6,45,9.7,10.0,0,5,159.1,1.0
3,John Beck,Brigham Young,MWC,12,289,50,69.3,-8,9.3,10.0,6,8,169.1,-0.2
4,JaMarcus Russell,LSU,SEC,13,232,52,67.8,142,9.1,9.7,1,8,167.0,2.7
5,Jared Zabransky,Boise State,WAC,13,191,98,66.3,197,9.0,9.3,6,8,162.6,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Austen Everson,Ohio,MAC,13,137,104,54.2,357,5.4,4.5,2,8,102.0,3.4
102,Jameel Sewell,Virginia,ACC,11,143,95,57.9,200,5.4,4.7,4,6,105.4,2.1
103,Josh Padrick,Florida International,Sun Belt,12,213,57,54.9,-146,5.2,3.8,0,14,95.5,-2.6
104,David Pevoto,Army,Ind,10,106,36,54.9,14,5.2,2.6,1,14,94.7,0.4
106,Aaron Opelt,Toledo,MAC,9,102,80,54.3,261,4.7,4.1,4,5,98.6,3.3

In [118]:
df_new.to_csv('./passing/2006.csv')