In [2]:
import pandas as pd

In [9]:
rec_2000 = pd.read_csv('./receiving/2000.csv', index_col=0)
rec_2000

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Derrick Lewis,San Diego State,MWC,11,31,802,23.6,3,3.0,34
2,Robert Prescott,Oregon State,Pac-10,9,28,668,23.0,4,1.0,29
3,Chad Johnson,Oregon State,Pac-10,12,37,801,20.5,8,2.0,39
4,Marcellus Harris,East Carolina,CUSA,10,23,568,19.6,5,6.0,29
5,Snoop Minnis,Florida State,ACC,12,63,1340,21.3,11,NaN,63
...,...,...,...,...,...,...,...,...,...,...
387,Jacquis Walker,Arkansas State,Big West,11,25,323,6.1,4,28.0,53
388,Jameel Cook,Illinois,Big Ten,10,34,433,5.2,1,49.0,83
389,Duane Epperson,Duke,ACC,11,23,546,4.1,0,111.0,134
390,Shaud Williams,Texas Tech,Big 12,12,48,522,5.1,2,55.0,103
391,Ricky Williams,Texas Tech,Big 12,12,52,649,3.6,7,127.0,179

In [10]:
rush_2000 = pd.read_csv('./rushing/2000.csv', index_col=0)
rush_2000

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Kenton Keith,New Mexico State,Big West,11,109,865,7.5,4,6.0,115
2,Levron Williams,Indiana,Big Ten,10,116,937,6.9,10,20.0,136
3,Correll Buckhalter,Nebraska,Big 12,11,106,835,7.5,8,5.0,111
4,Deonce Whitaker,San Jose State,WAC,10,224,1614,7.1,16,3.0,227
5,Dwone Hicks,Middle Tennessee State,Ind,11,186,1458,7.1,21,19.0,205
...,...,...,...,...,...,...,...,...,...,...
257,Josh Blankenship,Tulsa,WAC,12,81,-19,-0.2,1,NaN,81
258,Andy Sahm,Bowling Green State,MAC,11,81,-76,-0.9,3,NaN,81
259,Philip Rivers,North Carolina State,ACC,11,73,-68,-0.9,3,1.0,74
260,D. Bryant,Duke,ACC,11,79,-67,-0.8,2,2.0,81
261,Jason McKinley,Houston,CUSA,11,73,-131,-1.8,1,NaN,73

In [15]:
pass_2000 = pd.read_csv('./passing/2000.csv')
pass_2000

,Unnamed: 0,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
0,1,Chris Weinke,Florida State,ACC,12,266,30,61.7,-97,9.7,10.1,1,11,163.1,-3.2
1,2,Bart Hendricks,Boise State,Big West,11,210,85,60.5,269,9.7,10.7,6,8,170.6,3.2
2,3,John Turman,Pitt,Big East,11,128,65,54.9,-18,9.2,9.4,1,7,151.4,-0.3
3,4,Casey Printers,Texas Christian,WAC,11,102,84,58.0,265,9.0,9.3,4,6,156.7,3.2
4,5,Rex Grossman,Florida,SEC,11,131,27,61.8,-76,8.8,9.3,0,7,161.8,-2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,94,Walter Church,Eastern Michigan,MAC,11,238,27,59.6,-90,5.8,5.5,0,8,113.7,-3.3
90,95,Tavares Bolden,Toledo,MAC,11,161,73,56.9,390,5.6,5.9,5,4,116.6,5.3
91,96,Jay Stoner,Wyoming,MWC,9,171,53,62.2,-175,5.6,4.4,0,12,112.9,-3.3
92,97,D. Bryant,Duke,ACC,11,129,79,50.0,-96,5.6,4.3,1,10,95.8,-1.2
93,98,Zach Williams,Kent State,MAC,9,114,32,53.5,-27,5.3,3.9,1,8,96.4,-0.8

In [14]:
pass_2000.sort_values('Yds', ascending=False)

,Player,School,Conf,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate,Avg
75,Antwaan Randle El,Indiana,Big Ten,11,133,218,48.0,1270,6.4,4.9,13,14,103.9,5.8
18,Woodrow Dantzler,Clemson,ACC,11,122,172,57.5,947,8.0,7.6,13,6,134.5,5.5
6,Mike Thiessen,Air Force,MWC,11,112,179,57.4,713,8.7,8.8,10,5,147.0,4.0
8,Jason Thomas,UNLV,MWC,11,106,138,52.7,599,8.5,7.9,11,9,138.1,4.3
59,Marquel Blackwell,South Florida,Ind,11,171,128,57.8,566,6.8,7.1,3,4,126.8,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,Matt Newton,Colorado State,MWC,11,198,39,59.3,-151,7.8,7.3,0,13,136.9,-3.9
33,Lon Sheriff,San Diego State,MWC,10,155,54,53.4,-162,7.5,6.2,1,11,115.3,-3.0
11,Jonathan Smith,Oregon State,Pac-10,12,170,56,50.3,-165,8.2,8.5,0,7,134.6,-2.9
96,Jay Stoner,Wyoming,MWC,9,171,53,62.2,-175,5.6,4.4,0,12,112.9,-3.3
88,Joe Freedy,Buffalo,MAC,11,184,55,54.4,-190,6.1,4.5,2,18,108.7,-3.5

In [ ]:
rec_2003 = pd.read_csv('./receiving/2003.csv')

In [ ]:
rec_2004 = pd.read_csv('./receiving/2004.csv')

In [ ]:
rec_2005 = pd.read_csv('./receiving/2005.csv')

In [ ]:
rec_2006 = pd.read_csv('./receiving/2006.csv')

In [ ]:
2000_years = [rec_2000, rec_2001, rec_2002, rec_2003, rec_2004, rec_2005, rec_2006]

In [ ]:
result = pd.concat(receiving_years)